registry=https://registry.npmmirror.com/
//registry.npmjs.org/:_authToken=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
ELECTRON_MIRROR=https://cdn.npm.taobao.org/dist/electron/
home=https://npmmirror.com
